body {
  background: #fff;
  font-family: Lucida, 'Lucida Grande';
  font-size: 10px;
}

#input {
  height: 1em;
  width: 98%;
  height: 20em;
}
input, textarea, #inputContainer {
  font-family: 'Menlo', Courier;
  background: #333;
  font-size: 1em;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  border: 0px;
  padding: 1em;
}
input, textarea {
  outline: none;
}
#output {
  color: #666;
}
#Console {
  width: 50em;
}